API_TOKEN="sk-aaa,sk-bbb,sk-ccc"
DASHSCOPE_API_KEY="sk-xxx"
DASHSCOPE_HTTP_BASE_URL="https://dashscope.aliyuncs.com/api/v1"
API_CONCURRENCY="10"
API_SEGMENT_LENGTH="175"
FFMPEG_WORKS="32"
FFMPEG_SEGMENT_LENGTH="5"
SILENT_INTERVAL="700"
PADDING_LENGTH="100"
OUTPUT_BITRATE="128k"
ENABLE_LID="true"
ENABLE_ITN="false"
ASR_RETRY_MAX_ATTEMPTS="4"
ASR_RETRY_INITIAL_DELAY="0.5"
ASR_RETRY_FACTOR="2.0"
ASR_RETRY_MAX_DELAY="8.0"
LISTEN=":8080"
MAX_UPLOAD_MB="500"
